profiles {
    standard {
        process {
            withName: 'Trimming' {
            cpus = 8
            memory = 8.GB
        }	
           withName: 'Denovo_Assembly' {	
            cpus = 10
            memory = 32.GB
        }
           withName: 'Alignment' {
            cpus = 8
            memory = 32.GB
        }
           withName: 'Generate_Summary' {
            cpus = 8
            memory = 8.GB
        }                                               
    }
    }
    cloud {
       process {
            withName: 'Trimming' {
            cpus = 8
            memory = 16.GB
        }	
           withName: 'Denovo_Assembly' {	
            cpus = 8
            memory = 30.GB
        }
           withName: 'Alignment' {
            cpus = 8
            memory = 16.GB
        }
           withName: 'Generate_Summary' {
            cpus = 8
            memory = 16.GB
        }                    
    }
    }
    cloud_big {
       process {
            withName: 'Trimming' {
            cpus = 8
            memory = 24.GB
        }
           withName: 'Denovo_Assembly' {		
            cpus = 16
            memory = 30.GB	
        }
           withName: 'Alignment' {		
            cpus = 16	
            memory = 24.GB	
        }
           withName: 'Generate_Summary' {	
            cpus = 8
            memory = 24.GB
        }                          
    }
    }
    testing {
        process {
            cpus = 4
            memory = 8.GB
        }
    }
// Docker always true. Containers defined in each process
docker.enabled = true
}