process {
    executor = 'awsbatch'
    queue = 'multi-az' 
}
aws {
    region = 'us-west-2'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    client {
        maxConnections = 4
    }
}
workDir = 's3://covid19-work/'

tower {
  accessToken = 'eyJ0aWQiOiA0MTI2fS5hZWQyMTQzMDM0ODc1ZmQyZGZhODEzNjAwZTI3OWU1ODE0ZTAzN2Rl'
  enabled = true
}