process {
    executor = 'awsbatch'
    queue = 'multi-az' 
}
aws {
    region = 'us-west-2'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    client {
        maxConnections = 4
    }
}
workDir = 's3://covid19-work/'

tower {
  accessToken = '64a554f366b8c09f1f7a51f38192064c5e5a559e'
  enabled = true
}
